appsettings.json
ASPNETCORE_ENVIRONMENT=Development
bin/
obj/
.vs
.docs
.vscode/
*.user
*.suo
*.log
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.backup
*.mdf
*.ldf
*.ndf
*.sql
*.pdb
*.cache
*.sln.docstates
*.sln.ide
*.sln.user
*.sln.vspscc
*.sln.vssscc
*.sln
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
*.csproj
*.sln
*.csproj
*.zip  
*.tar.gz
*.tar
*.7z
*.docx
*.xlsx
*.pptx
*.pdf   
QAS
sql
